* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#9ba4da;
    font-size: 22px;
    text-decoration: none;
}

#root {
    width: 100vw;
    height: 100vh;
    padding: 9vh 6vw;
    background-color: #333b6b;
}