* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* ::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(105, 152, 192);
    padding: 6vh 5vw;
}

#root {
    height: 100%;
}

.link {
    text-decoration: none;
}