.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
    color: rgba(0, 0, 0, 0)
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #5e788f, 24px 0 #FFF;
    }
    66% {
      background: #5e788f;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #5e788f;
    }
  }

.container {
    margin-top: 5%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.product-cards {
    width: 80%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.product-card {
    width: 30%;
    height: 25%;
    border: #5e788f 2px solid;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.product-card > a {
  display: flex;
  gap: 20px
}

.product-title, .product-brand {
  color: #112e49;
  margin-bottom: 10px;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.details {
  width: 30%;
  height: 25%;
  border: #5e788f 2px solid;
  border-radius: 3%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close-details {
  width: 50%;
  border: #5e788f 2px solid;
  border-radius: 3%;
  background: #5e788f;
}