.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
    color: rgba(0, 0, 0, 0)
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #5e788f, 24px 0 #FFF;
    }
    66% {
      background: #5e788f;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #5e788f;
    }
  }

.container {
  margin-top: 5%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.product-cards {
    width: 80%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-right: auto;
    margin-left: auto;
}
