header {
    height: 70px;
    width: 88vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    background-color: #33275c;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.switch-language {
    width: 250px;
    display: flex;
}

select {
    border: none;
    outline: none;
    height: fit-content;
    background-color: #33275c !important;
}
